* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: tet;
    src: url(amz.ttf);
}

.signIn {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    background: url(back.jpg);
    background-position: center;
    height: 100vh;
}


.back {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.768);
}

.h1 {
    padding-top: 40px;
    font-family: sans-serif;
    width: 300px;
    color: transparent;
    background-color: white;
    -webkit-background-clip: text;
    padding-bottom: 100px;
}

.h3 {
    text-align: center;
    font-size: 0.9rem;
    padding: 5px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input {
    background: white;
    margin-bottom: 40px;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

form button {

    background: linear-gradient(25deg, #23405a, #005cb2cc);
}

form button:hover {
    transition: 1s ease-out all;
    border: none;
    transform: translateY(9px);
}

.signInNone {
    display: none;
}

/*=================*/
.head {
    width: 100%;
    padding: 10px 0;
    background: linear-gradient(25deg, #23405a, #005cb2cc);
}



.head .head-input {
    width: 80%;
}

.head .head-input input {
    width: 20%;
}

.head .head-input .input {
    border: 1px solid black;
}


.head .head-input button {
    border: none;
    background: none;
    margin-top: 5px;

}

.head .head-input button span {
    color: white;
    padding-left: 10px;

}

.head_None {
    display: none !important;
}


/*==============*/

main {
    padding-top: 40px;
}

.setting {
    width: 30%;
    padding-top: 20px;
    padding-right: 30px;
}

.setting button {
    border: none;
    background: transparent;

}

.content {
    width: 100%;
    position: relative;
}

.contentMainPage {
    background-image: url(back.jpg);
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;

}

section {
    width: 80%;
    display: grid;
    grid-template-columns: 2fr 10fr;
    background-color: #f9f9fb;
    border-radius: 50px;
    padding-bottom: 50px;
}

.userinfo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.userinfo>div .username {
    font-size: 0.6rem;
    color: #001529;
}


.user img {
    width: 70px;
    border-radius: 40px;
    padding-right: 10px;
}


.iconlogo>div:hover {
    background-color: #e0e1e1;
    border-radius: 20px 0 0 20px;
}

.iconm {

    padding: 10px 0;
    padding-left: 45px;
    line-height: 2;
}

.iconm button {
    border: none;
    background: transparent;
    margin-right: 10px;
}

.iconm button span {
    color: #123a60;
}

header {
    background: linear-gradient(25deg, #23405a, #005cb2cc);
    border-radius: 10px 0 0 10px;
}

h1 {
    text-align: center;
    font-family: tet;
    color: #f9f9fb;
    padding-top: 20px;
}

.inputSearch {
    background-color: #f9f9fb;
}

.event {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%);
    padding: 20px 10px;

}

.event button {
    border: none;
    background: none;

}

.event button>span {
    color: #001529;
}

.event .but1 {
    background-color: #23405a;
    padding: 6px 10px;
    border-radius: 20px;
}

.event .but1 span {
    color: #f9f9fb;
}

.subName {
    font-family: sans-serif;
}

.date {
    font-weight: bold;
}

.textArea {
    width: 100%;
    height: 100vh;
    border: none;
}



/* CONTACTS */
.contact {
    text-align: center;
    font-family: tet;
    background-color: #cdd0d5;
    padding: 10px 0;
    border-radius: 10px 0 0 10px;

}

.add {

    position: absolute;
    bottom: 5%;
    right: 17%;
}

.add button {
    background: none;
    border: none;
}

.add button span {
    font-size: 2rem;
}

.createNewContact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.703);
    padding: 150px 0;
    position: absolute;
    top: 0%;
}

.saveContactBtnNone {
    display: none;
}

.editContactBtnNone {
    display: none;
}

.newContact {
    width: 26%;
    background-color: #fafafa;
    padding-top: 30px;
    border-radius: 40px;
    padding-bottom: 30px;

}


.newContact img {
    border-radius: 40px;
}


.newconback button {
    border: none;
    background: none;
    font-weight: bold;
    font-size: 2rem;
}

.newconsave button {
    border: none;
    background: none;
    font-weight: bold;
}

.newContact span {
    padding-right: 20px;
}

.newContact input {
    display: block;
    border: none;
    border-bottom: 1px solid black;
    background: none;
    padding-right: 50px;
    margin-bottom: 30px;
}

.newContact input:focus {
    outline: none;
}

.table button {
    border: none;
    background: none;
    margin-left: 5px;
}

/*EVENT*/
.eventList {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.768);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0%;
}

.eventListNone {
    display: none;
}

.makelist {
    padding-bottom: 100px;
}

.makelistBtn {
    margin-bottom: 30px;
    padding: 10px 10px;
}

.makelistBtn .btn-1 {
    background: none;
    border: none;
    color: black;

}

.makelistBtn .btn-2 {
    padding: 10px 20px;
    border: none;
    background: none;
    border: 1px solid black;
    border-radius: 5px;
}

.makelistBtn .btn-2:hover {
    transition: 0.9s all ease-in-out;
    transform: translateY(10px);
    color: white;
    border: none;
    background: linear-gradient(25deg, #23405a, #005cb2cc);
}

.makelist {
    width: 26%;
    background-color: #fafafa;
    border-radius: 10px;

}

.eventTitle input {
    width: 90%;
    border: none;
    padding: 10px;
    background: transparent;

}

.eventTitle input::placeholder {
    font-size: 1.5rem;
}

.eventTitle input:focus {
    outline: none;

}

.addEvent {
    position: absolute;
    bottom: 0%;
    right: 17%;
    width: 80px;

}

.addEvent button {
    border: none;
    background: none;
    text-align: center;
}

.addEvent span {
    font-size: 3rem;
    font-weight: bold;
    color: #001529;
}

/*====NOTE===*/
.note {
    width: 100%;
    height: 100vh;
}

.notetitle input {
    width: 100%;
    margin-bottom: 10px
}

.notebttn {
    padding-right: 20px;
}

.notebtn button {
    border: none;
    padding: 10px;
    background-color: #001529;
    color: #f9f9fb;
    border-radius: 10px;

}



.nottileboardhouse p {
    background-color: #fafafa;
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%);
    padding: 20px 10px;
    font-size: 1.2rem;
}

.nottileboardhouseNon {
    display: none;
}

.noteTitlepNone {
    display: none;
}

.noteTitleNone {
    display: none;
}

.noteNone {
    display: none;
}

.noteTexxtNone {
    display: none;
}

.noteTexxtt2 p {
    font-size: 1rem;
    color: black;
    font-weight: 400;
    line-height: 2;
}

.noteTexxtt2None {
    display: none;
}

/*=====EDITING PROFILE======*/

.editingprofile {
    padding-top: 30px;


}

.editingprofile>div {
    line-height: 5;
    font-style: italic;
    border-radius: 10px;

}

.editingprofile>div:hover {
    background-color: #cdd0d5;
}

.editingprofile button {
    border: none;
    background: none;
}

.editprofile {
    background: #000000cc;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0%;
}

.editprofile input {
    display: block;
}

.editprofile input:focus {
    outline: none;
}

.editprofilee {
    height: 100vh;

}

.editprofileContent {
    background-color: white;
    padding-top: 40px;
    width: 30%;
    padding-bottom: 30px;
    border-radius: 10px;
}

.editprofileContent p {
    font-size: 1rem;
    font-style: italic;
    text-align: center;
    color: black;
}

.editprofile input {
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
    width: 100%;
}


.editprofileContent button {
    padding: 10px 40px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(25deg, #3d4a55, #475461cc);
    color: #f9f9fb;
    font-weight: bold;

}


/*DELETE PROFILE*/
.delprofile {
    background: #000000cc;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0%;
}

.delprofile input {
    display: block;
}

.delprofile input:focus {
    outline: none;
}

.delprofilee {
    height: 100vh;

}

.delprofile p {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 10px;
}

h5 {
    text-align: center;
    font-family: tet;
}


.delprofileContent {
    background-color: white;
    padding-top: 40px;
    width: 30%;
    padding-bottom: 30px;
    border-radius: 10px;
}

.delprofileContent p {
    font-size: 1rem;
    font-style: italic;
    text-align: justify;
    color: black;
}

.delprofile input {
    border: none;
    border: 1px solid black;
    margin-bottom: 30px;
    width: 100%;
    padding: 10px 0;
    padding-left: 2px;
    border-radius: 10px;
}


.delprofileContent button {
    padding: 10px 40px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(25deg, #3d4a55, #475461cc);
    color: #f9f9fb;
    font-weight: bold;

}

/*=====DISPLAY NONE PAGE=====*/
.mainPageNone {
    display: none;
}

.createNewContactNone {
    display: none;
}

.contactPageNone {
    display: none;
}


.notesNone {
    display: none;
}



.settingpageNone {
    display: none;
}

.editprofileNone {
    display: none;
}

.delprofileNone {
    display: none;
}

.eventPageNone {
    display: none;
}

.head_None {
    display: none;
}

@media screen and (max-width:1188px) {
    .search button {
        margin-left: 0;
    }

    .makelist {
        width: 40%;
    }

    .newContact {
        width: 40%;
    }
}

@media screen and (max-width:1000px) {
    section {
        grid-template-columns: 1fr 11fr;
    }

    .userinfo {
        display: unset;
        margin: o auto;
        text-align: center;
    }

    .hideIconMessage {
        display: none;
    }

    .iconm {
        padding-left: 0;
        padding-left: 10px;
        box-sizing: border-box;
    }

    .editprofileContent {
        width: 60%;
    }

    .eventList {
        height: 140vh;
    }
}

@media screen and (max-width:650px) {
    section {
        width: 100%;
        border-radius: unset;
    }

    .event {
        flex-direction: column;
        justify-content: start;

    }

    .search {
        width: 90%;
    }

    .editprofileContent {
        width: 60%;
    }

    .eventlist {
        height: 200vh;
    }

    .makelist {
        width: 70%;
    }

    .newContact {
        width: 80%;
    }

    .icon {
        padding-left: 30px;
    }

    .iconm {
        padding-left: 20px;
    }
}

@media screen and (max-width:470px) {
    .editprofileContent {
        width: 80%;
    }

    .icon {
        padding-left: 20px;
    }

    .iconm {
        padding-left: 10px;
    }

}

@media screen and (max-width:404px) {
    .eventList {
        height: 200vh;
    }

    .makelist {
        width: 90%;

    }

    .newContact {
        width: 80%;
    }

    .createNewContact {
        width: 100%;
    }

    .newContact input {
        width: 90%;
    }

    .newContext {
        font-size: 0.8rem;
    }
}