body {
  background: url(back.jpg);
  /* background-color: rgba(0, 0, 0, 0.768); */
}

@font-face {
  font-family: tet;
  src: url(amz.ttf);
}

#backgroudc {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.712);
  padding: 50px 0;
  padding-top: 30px;

}

.secOne {
  padding: 20px;
  border-radius: 6px;
  background: linear-gradient(to top, #23405a82, #51708b82);
  box-shadow: 2px 2px 5px;
  width: 30%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

label {
  color: white;
}

.inp {
  /* border-radius: 10px;
  border-width: 1px;
  padding: 10px;
  font-size: 0.9em; */
  width: 100%;
  border: none;
  padding: 10px 0;
  border-radius: 3px;
  padding-left: 6px;
  background: #ffffff;
  margin-bottom: 20px;

}

.inp:focus {
  outline: 1px solid #23405a82;
}

.but {
  height: 3em;
  color: white;
  border-radius: 5px;
  border: none;
  background: #23405a;
}

.but:hover {
  background: #23405a;
  color: white;

}

.lab {
  font-size: 1.3em;
}

.icon {
  font-family: tet;
  font-size: 2rem;
  color: #ffffff;
}

span {
  width: 10px;
  height: 10px;
  display: block;
  background-color: white;
  border-radius: 20px;
}

.acc {
  color: white;
  font-style: italic;
}

.but {
  /* font-weight: bold; */
}

.but:hover {
  transition: 1s all ease-in-out;
  transform: translateY(10px);
  font-weight: bold;
}

.signin {
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (max-width: 760px) {
  .secOne {
    width: 70%;
  }
}

@media screen and (max-width:500px) {
  .secOne {
    width: 90%;
  }

  .signin {
    display: block;
  }

  .signin p {
    text-align: center;
  }

}