.bob{
  background-color: #F9F9FB;
  display: flex;
  align-items: center;
  justify-content: center;
}
.secOne{
 align-items: center;
 justify-content: center;
 flex-wrap: wrap;
}
.inp{
  width: 15em;
  height: 3em;
  border-radius: 10px;
  padding: 10px;
}
.but{
  height: 3em;
  color: white;
  border-radius: 10px;
  border: none;
  background-color: #266EF1; 
}